body {
    margin: 0;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    color: black;
    font-family: arial, sans-serif;
    overflow: hidden;
}

.content {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    background: white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}

.content p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #595959;
}

.content p:last-child {
    margin-bottom: 0;
}

.content button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #595959;
    background: transparent;
    font-size: 1rem;
    color: #595959;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.particle {
    position: absolute;
    display: block;
    pointer-events: none;
}

.particle:nth-child(1) {
    top: 95.2147239264%;
    left: 91.6256157635%;
    font-size: 15px;
    filter: blur(0.02px);
    animation: 29s floatReverse2 infinite;
}

.particle:nth-child(2) {
    top: 75.3056234719%;
    left: 31.4341846758%;
    font-size: 18px;
    filter: blur(0.04px);
    animation: 25s float2 infinite;
}

.particle:nth-child(3) {
    top: 91.2621359223%;
    left: 17.578125%;
    font-size: 24px;
    filter: blur(0.06px);
    animation: 27s floatReverse2 infinite;
}

.particle:nth-child(4) {
    top: 28.0193236715%;
    left: 69.0661478599%;
    font-size: 28px;
    filter: blur(0.08px);
    animation: 30s floatReverse infinite;
}

.particle:nth-child(5) {
    top: 68.7960687961%;
    left: 41.4201183432%;
    font-size: 14px;
    filter: blur(0.1px);
    animation: 24s floatReverse2 infinite;
}

.particle:nth-child(6) {
    top: 75.3623188406%;
    left: 61.2840466926%;
    font-size: 28px;
    filter: blur(0.12px);
    animation: 25s floatReverse infinite;
}

.particle:nth-child(7) {
    top: 55.8139534884%;
    left: 7.866273353%;
    font-size: 17px;
    filter: blur(0.14px);
    animation: 30s floatReverse infinite;
}

.particle:nth-child(8) {
    top: 65.7799274486%;
    left: 22.3953261928%;
    font-size: 27px;
    filter: blur(0.16px);
    animation: 30s floatReverse infinite;
}

.particle:nth-child(9) {
    top: 11.5662650602%;
    left: 50.4854368932%;
    font-size: 30px;
    filter: blur(0.18px);
    animation: 26s floatReverse infinite;
}

.particle:nth-child(10) {
    top: 71.8446601942%;
    left: 55.6640625%;
    font-size: 24px;
    filter: blur(0.2px);
    animation: 27s floatReverse infinite;
}

.particle:nth-child(11) {
    top: 20.2653799759%;
    left: 75.8017492711%;
    font-size: 29px;
    filter: blur(0.22px);
    animation: 40s floatReverse infinite;
}

.particle:nth-child(12) {
    top: 62.7261761158%;
    left: 26.2390670554%;
    font-size: 29px;
    filter: blur(0.24px);
    animation: 31s float infinite;
}

.particle:nth-child(13) {
    top: 70.9359605911%;
    left: 72.1343873518%;
    font-size: 12px;
    filter: blur(0.26px);
    animation: 36s floatReverse2 infinite;
}

.particle:nth-child(14) {
    top: 12.5301204819%;
    left: 2.9126213592%;
    font-size: 30px;
    filter: blur(0.28px);
    animation: 27s floatReverse2 infinite;
}

.particle:nth-child(15) {
    top: 57.2815533981%;
    left: 63.4765625%;
    font-size: 24px;
    filter: blur(0.3px);
    animation: 32s floatReverse2 infinite;
}

.particle:nth-child(16) {
    top: 22.4390243902%;
    left: 69.6078431373%;
    font-size: 20px;
    filter: blur(0.32px);
    animation: 35s floatReverse infinite;
}

.particle:nth-child(17) {
    top: 21.568627451%;
    left: 62.0078740157%;
    font-size: 16px;
    filter: blur(0.34px);
    animation: 27s float2 infinite;
}

.particle:nth-child(18) {
    top: 68.7960687961%;
    left: 63.1163708087%;
    font-size: 14px;
    filter: blur(0.36px);
    animation: 30s float infinite;
}

.particle:nth-child(19) {
    top: 90.5289052891%;
    left: 88.8450148075%;
    font-size: 13px;
    filter: blur(0.38px);
    animation: 27s floatReverse2 infinite;
}

.particle:nth-child(20) {
    top: 76.6584766585%;
    left: 83.8264299803%;
    font-size: 14px;
    filter: blur(0.4px);
    animation: 27s float2 infinite;
}

.particle:nth-child(21) {
    top: 4.9261083744%;
    left: 57.3122529644%;
    font-size: 12px;
    filter: blur(0.42px);
    animation: 27s floatReverse2 infinite;
}

.particle:nth-child(22) {
    top: 77.8588807786%;
    left: 45.988258317%;
    font-size: 22px;
    filter: blur(0.44px);
    animation: 39s float2 infinite;
}

.particle:nth-child(23) {
    top: 75.9556103576%;
    left: 8.9020771513%;
    font-size: 11px;
    filter: blur(0.46px);
    animation: 31s floatReverse2 infinite;
}

.particle:nth-child(24) {
    top: 51.1056511057%;
    left: 58.1854043393%;
    font-size: 14px;
    filter: blur(0.48px);
    animation: 32s floatReverse infinite;
}

.particle:nth-child(25) {
    top: 18.6732186732%;
    left: 18.7376725838%;
    font-size: 14px;
    filter: blur(0.5px);
    animation: 33s floatReverse2 infinite;
}

.particle:nth-child(26) {
    top: 1.9393939394%;
    left: 39.0243902439%;
    font-size: 25px;
    filter: blur(0.52px);
    animation: 36s floatReverse infinite;
}

.particle:nth-child(27) {
    top: 74.6666666667%;
    left: 41.9512195122%;
    font-size: 25px;
    filter: blur(0.54px);
    animation: 25s floatReverse infinite;
}

.particle:nth-child(28) {
    top: 91.9315403423%;
    left: 53.0451866405%;
    font-size: 18px;
    filter: blur(0.56px);
    animation: 31s float infinite;
}

.particle:nth-child(29) {
    top: 69.6493349456%;
    left: 51.6066212269%;
    font-size: 27px;
    filter: blur(0.58px);
    animation: 21s floatReverse infinite;
}

.particle:nth-child(30) {
    top: 15.763546798%;
    left: 19.7628458498%;
    font-size: 12px;
    filter: blur(0.6px);
    animation: 23s float infinite;
}

.particle:nth-child(31) {
    top: 26.3736263736%;
    left: 96.1727183513%;
    font-size: 19px;
    filter: blur(0.62px);
    animation: 26s float2 infinite;
}

.particle:nth-child(32) {
    top: 41.4303329223%;
    left: 36.5974282888%;
    font-size: 11px;
    filter: blur(0.64px);
    animation: 37s floatReverse infinite;
}

.particle:nth-child(33) {
    top: 40.0488400488%;
    left: 58.8812561335%;
    font-size: 19px;
    filter: blur(0.66px);
    animation: 34s float infinite;
}

.particle:nth-child(34) {
    top: 29.197080292%;
    left: 80.2348336595%;
    font-size: 22px;
    filter: blur(0.68px);
    animation: 39s float infinite;
}

.particle:nth-child(35) {
    top: 23.4432234432%;
    left: 45.142296369%;
    font-size: 19px;
    filter: blur(0.7px);
    animation: 39s float infinite;
}

.particle:nth-child(36) {
    top: 95.9608323133%;
    left: 5.8997050147%;
    font-size: 17px;
    filter: blur(0.72px);
    animation: 26s floatReverse2 infinite;
}

.particle:nth-child(37) {
    top: 19.728729963%;
    left: 43.5212660732%;
    font-size: 11px;
    filter: blur(0.74px);
    animation: 36s float infinite;
}

.particle:nth-child(38) {
    top: 87.7928483354%;
    left: 46.4886251236%;
    font-size: 11px;
    filter: blur(0.76px);
    animation: 30s float infinite;
}

.particle:nth-child(39) {
    top: 59.9508599509%;
    left: 6.9033530572%;
    font-size: 14px;
    filter: blur(0.78px);
    animation: 21s float2 infinite;
}

.particle:nth-child(40) {
    top: 25.5528255528%;
    left: 92.7021696252%;
    font-size: 14px;
    filter: blur(0.8px);
    animation: 35s floatReverse2 infinite;
}

.particle:nth-child(41) {
    top: 37.8181818182%;
    left: 86.8292682927%;
    font-size: 25px;
    filter: blur(0.82px);
    animation: 36s floatReverse infinite;
}

.particle:nth-child(42) {
    top: 67.8966789668%;
    left: 83.9091806515%;
    font-size: 13px;
    filter: blur(0.84px);
    animation: 30s float2 infinite;
}

.particle:nth-child(43) {
    top: 14.7058823529%;
    left: 87.5984251969%;
    font-size: 16px;
    filter: blur(0.86px);
    animation: 30s floatReverse2 infinite;
}

.particle:nth-child(44) {
    top: 25.5528255528%;
    left: 94.674556213%;
    font-size: 14px;
    filter: blur(0.88px);
    animation: 35s float2 infinite;
}

.particle:nth-child(45) {
    top: 35.1219512195%;
    left: 11.7647058824%;
    font-size: 20px;
    filter: blur(0.9px);
    animation: 28s floatReverse infinite;
}

.particle:nth-child(46) {
    top: 67.9611650485%;
    left: 42.96875%;
    font-size: 24px;
    filter: blur(0.92px);
    animation: 21s float infinite;
}

.particle:nth-child(47) {
    top: 61.9164619165%;
    left: 65.0887573964%;
    font-size: 14px;
    filter: blur(0.94px);
    animation: 29s float2 infinite;
}

.particle:nth-child(48) {
    top: 59.0084643289%;
    left: 17.5267770204%;
    font-size: 27px;
    filter: blur(0.96px);
    animation: 21s floatReverse2 infinite;
}

.particle:nth-child(49) {
    top: 45.4655380895%;
    left: 12.6582278481%;
    font-size: 27px;
    filter: blur(0.98px);
    animation: 37s float infinite;
}

.particle:nth-child(50) {
    top: 31.5270935961%;
    left: 80.0395256917%;
    font-size: 12px;
    filter: blur(1px);
    animation: 29s float2 infinite;
}

.particle:nth-child(51) {
    top: 20.4628501827%;
    left: 83.2517140059%;
    font-size: 21px;
    filter: blur(1.02px);
    animation: 24s floatReverse2 infinite;
}

.particle:nth-child(52) {
    top: 85.0855745721%;
    left: 41.257367387%;
    font-size: 18px;
    filter: blur(1.04px);
    animation: 39s floatReverse2 infinite;
}

.particle:nth-child(53) {
    top: 57.1428571429%;
    left: 88.9328063241%;
    font-size: 12px;
    filter: blur(1.06px);
    animation: 25s float infinite;
}

.particle:nth-child(54) {
    top: 93.4809348093%;
    left: 90.8193484699%;
    font-size: 13px;
    filter: blur(1.08px);
    animation: 22s floatReverse infinite;
}

.particle:nth-child(55) {
    top: 95.9608323133%;
    left: 69.8131760079%;
    font-size: 17px;
    filter: blur(1.1px);
    animation: 34s float infinite;
}

.particle:nth-child(56) {
    top: 5.7901085645%;
    left: 97.1817298348%;
    font-size: 29px;
    filter: blur(1.12px);
    animation: 38s floatReverse2 infinite;
}

.particle:nth-child(57) {
    top: 29.0556900726%;
    left: 72.1247563353%;
    font-size: 26px;
    filter: blur(1.14px);
    animation: 34s floatReverse2 infinite;
}

.particle:nth-child(58) {
    top: 48.1927710843%;
    left: 62.1359223301%;
    font-size: 30px;
    filter: blur(1.16px);
    animation: 40s float2 infinite;
}

.particle:nth-child(59) {
    top: 56.9360675513%;
    left: 62.1963070943%;
    font-size: 29px;
    filter: blur(1.18px);
    animation: 24s float2 infinite;
}

.particle:nth-child(60) {
    top: 64.9696969697%;
    left: 68.2926829268%;
    font-size: 25px;
    filter: blur(1.2px);
    animation: 26s floatReverse2 infinite;
}

.particle:nth-child(61) {
    top: 6.8965517241%;
    left: 40.5138339921%;
    font-size: 12px;
    filter: blur(1.22px);
    animation: 21s float infinite;
}

.particle:nth-child(62) {
    top: 10.6024096386%;
    left: 73.786407767%;
    font-size: 30px;
    filter: blur(1.24px);
    animation: 37s float2 infinite;
}

.particle:nth-child(63) {
    top: 2.9375764994%;
    left: 73.7463126844%;
    font-size: 17px;
    filter: blur(1.26px);
    animation: 36s float2 infinite;
}

.particle:nth-child(64) {
    top: 91.8192918193%;
    left: 79.4896957802%;
    font-size: 19px;
    filter: blur(1.28px);
    animation: 39s floatReverse2 infinite;
}

.particle:nth-child(65) {
    top: 24.6609124538%;
    left: 42.5321463897%;
    font-size: 11px;
    filter: blur(1.3px);
    animation: 40s floatReverse infinite;
}

.particle:nth-child(66) {
    top: 41.7982989064%;
    left: 32.2580645161%;
    font-size: 23px;
    filter: blur(1.32px);
    animation: 39s float2 infinite;
}

.particle:nth-child(67) {
    top: 9.6501809409%;
    left: 66.0835762877%;
    font-size: 29px;
    filter: blur(1.34px);
    animation: 39s float infinite;
}

.particle:nth-child(68) {
    top: 33.4152334152%;
    left: 78.8954635108%;
    font-size: 14px;
    filter: blur(1.36px);
    animation: 32s floatReverse infinite;
}

.particle:nth-child(69) {
    top: 6.8711656442%;
    left: 0.9852216749%;
    font-size: 15px;
    filter: blur(1.38px);
    animation: 40s float2 infinite;
}

.particle:nth-child(70) {
    top: 14.6699266504%;
    left: 54.0275049116%;
    font-size: 18px;
    filter: blur(1.4px);
    animation: 30s floatReverse infinite;
}

.particle:nth-child(71) {
    top: 81.3725490196%;
    left: 70.8661417323%;
    font-size: 16px;
    filter: blur(1.42px);
    animation: 27s floatReverse infinite;
}

.particle:nth-child(72) {
    top: 19.656019656%;
    left: 74.9506903353%;
    font-size: 14px;
    filter: blur(1.44px);
    animation: 27s float2 infinite;
}

.particle:nth-child(73) {
    top: 40.1960784314%;
    left: 90.5511811024%;
    font-size: 16px;
    filter: blur(1.46px);
    animation: 37s float2 infinite;
}

.particle:nth-child(74) {
    top: 40.245398773%;
    left: 2.9556650246%;
    font-size: 15px;
    filter: blur(1.48px);
    animation: 21s float2 infinite;
}

.particle:nth-child(75) {
    top: 76.9792935445%;
    left: 39.1772771792%;
    font-size: 21px;
    filter: blur(1.5px);
    animation: 21s floatReverse2 infinite;
}

.particle:nth-child(76) {
    top: 64%;
    left: 14.6341463415%;
    font-size: 25px;
    filter: blur(1.52px);
    animation: 29s floatReverse infinite;
}

.particle:nth-child(77) {
    top: 37.7267230955%;
    left: 11.6845180136%;
    font-size: 27px;
    filter: blur(1.54px);
    animation: 21s floatReverse2 infinite;
}

.particle:nth-child(78) {
    top: 73.2600732601%;
    left: 96.1727183513%;
    font-size: 19px;
    filter: blur(1.56px);
    animation: 23s floatReverse2 infinite;
}

.particle:nth-child(79) {
    top: 34.2298288509%;
    left: 54.0275049116%;
    font-size: 18px;
    filter: blur(1.58px);
    animation: 33s floatReverse2 infinite;
}

.particle:nth-child(80) {
    top: 17.5182481752%;
    left: 23.4833659491%;
    font-size: 22px;
    filter: blur(1.6px);
    animation: 39s floatReverse infinite;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(180px);
    }
}

@keyframes floatReverse {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-180px);
    }
}

@keyframes float2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(28px);
    }
}

@keyframes floatReverse2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-28px);
    }
}